<div class="flex flex-col gap-2 py-3 w-full box-border  items-center md:hidden">
  @for (item of items(); track item.slug) {
    <div class="flex border w-full min-h-25 items-center border-box p-1 px-3 ">
      <div class="self-start">
        <p class="text-lg font-bold">{{ item.name }}</p>
        <p class="font-semibold text-sm opacity-70">{{ item.price }}$</p>
      </div>
      <div class="ml-auto flex flex-col gap-2 items-center">
        <p class="font-bold text-lg">{{ item.price * item.quantity }}$</p>
        <div class="flex gap-2">
          <select
            class="border rounded p-1 border-box"
            #qty
            [value]="item.quantity"
            (change)="updateQuantity(item.slug, qty.value)"
          >
            @for (a of amountArray; track $index) {
              <option [value]="a" [selected]="a === item.quantity">{{ a }}</option>
            }
          </select>

          <button class="w-5 flex justify-center items-center border-box" (click)="deleteItem(item.slug)">
            <svg
              class="flex border-box w-5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
              <path
                d="M17 6V4c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2v2H2v2h2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8h2V6zM9 4h6v2H9zM6 20V8h12v12z"
              ></path>
              <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  }
</div>


<div class="hidden md:block max-w-[1600px] w-[90vw] box-border  ">
<table class="hidden md:table w-full text-start border-collapse box-border" border = "0" cellpadding="8" cellspacing="0">
 <thead>
    <tr class="border">
      <th class="border w-80 px-1 text-start">Product</th>
      <th class="border w-30 px-1 text-start">Price</th>
      <th class="border w-30 text-start px-1">Total</th>
      <th class="border w-30 text-start px-1">Amount</th>
    </tr>
  </thead >
   <tbody>
    @for (item of items(); track item.slug){
       <tr class="border">
      <td class="border w-80  py-4 text-start px-1">{{item.name}}</td>
      <td class="border w-30 text-start px-1">${{item.price}}</td>
      <td class="border w-30 text-start px-1">${{item.price * item.quantity}}</td>
      <td class="border w-30">
        <div class="flex gap-2 justify-center items-center">
          <select
            class="border rounded p-0.5 box-border"
            #qty
            [value]="item.quantity"
            (change)="updateQuantity(item.slug, qty.value)"
          >
            @for (a of amountArray; track $index) {
              <option [value]="a" [selected]="a === item.quantity">{{ a }}</option>
            }
          </select>

          <button class="w-5 flex justify-center items-center border-box" (click)="deleteItem(item.slug)">
            <svg
              class="flex border-box w-5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <!--Boxicons v3.0.8 https://boxicons.com | License  https://docs.boxicons.com/free-->
              <path
                d="M17 6V4c0-1.1-.9-2-2-2H9c-1.1 0-2 .9-2 2v2H2v2h2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8h2V6zM9 4h6v2H9zM6 20V8h12v12z"
              ></path>
              <path d="M9 10h2v8H9zm4 0h2v8h-2z"></path>
            </svg>
          </button>
        </div>
      </td>
      </tr>

   }
   </tbody>
   
</table>
</div>